body{
    text-align: center;
    font-family: 'Yeseva One', cursive;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(252,158,69);
    background: linear-gradient(90deg, rgba(252,158,69,0.9752275910364145) 23%, rgba(253,29,29,1) 47%, rgba(164,29,253,1) 75%);
    color: white;   
    text-shadow: 0.1em 0.1em 0.2em black;
 
 }
 
 main{
    margin-top: 5%;
    margin-top: auto;  
 }
 
 #cabeçalho{
    font-size: 7em;
 }
 
 p{
    margin: 2%;
    margin-top: 6%;
    padding: 3% 2%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.781);
    text-shadow: 0.1em 0.1em 0.2em black;
 }
 
 button{
    font-size: 35px;
    font-family: 'Yeseva One', cursive;
    margin: 1%;
    padding: 1.5% 5%;
    border-radius: 15px;
    border: 0px;
    color: white; 
    width: 19%;
 }
 
 button:hover{
    transform: scale(1.04);
    transition: 60ms all;
    cursor: pointer;
 }
 
 h1{
    font-size: 4em;
    text-shadow: 0.1em 0.1em 0.2em black;
 }
 
 #cadastrar{
    background-color: rgba(255, 255, 255, 0.685);
    padding: 50 100 50 100;
    text-shadow: 0.1em 0.1em 0.2em black;
 }
 
 #entrar{
    background-color: rgba(255, 255, 255, 0.685);
    margin-bottom: 19%;
    padding: 50 100 50 100;
    text-shadow: 0.1em 0.1em 0.2em black;
 }
 
 .login{
    margin-top: 5%;   
 }
 
 a{
    text-decoration: none;
    color: white;
 }