body{
    text-align: center;
    font-family: 'Yeseva One', cursive;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background: rgb(252,158,69);
    background: linear-gradient(90deg, rgba(252,158,69,0.9752275910364145) 23%, rgba(253,29,29,1) 47%, rgba(164,29,253,1) 75%);
    color: white;   
    text-shadow: 0.1em 0.1em 0.2em black;
 
 }

 h1{
   font-size: 4em;
   text-shadow: 0.1em 0.1em 0.2em black;
}
 
 main{
    margin-top: 5%;
    margin-top: auto;
 }
 
 p{
    font-size: 5em;
    margin: 2%;
    margin-top: 6%;
    padding: 2.5% 2.5%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.781);
    text-shadow: 0.1em 0.1em 0.2em black;
 }
 
 .alternativas{
   display: block;
   font-size: 3em;
   text-align: justify;
 }

 #errada{
   
 }

 #correta{
   
 }

 button{
    font-size: 1em;
    font-family: 'Yeseva One', cursive;
    margin: 2%;
    padding: 1.5% 2.3%;
    border-radius: 15px;
    border: 0px;
    color: white; 
    width: 20%;
    text-shadow: 0.1em 0.1em 0.2em black;
 }
 
 button:hover{
    transform: scale(1.04);
    transition: 60ms all;
    cursor: pointer;
 }
 
 button:active{
   color: rgb(227, 255, 184);
   background-color: greenyellow;
   animation-duration: 2s;
   animation-delay: 2ms;
 }

 a{
    text-decoration: none;
    color: white;
 }